@keyframes searchBorderHighlight {
    from {border-color: rgba(255,255,255,0.3);}
    to {border-color: white;}
}

.searchBorderHighlighted {
    animation-name: searchBorderHighlight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes searchBorderUnfocus {
    from {border-color: white;}
    to {border-color: rgba(255,255,255,0.3);}
}

.searchBorderUnfocused {
    animation-name: searchBorderUnfocus;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes navbarHover {
    from {background-color: #222222;}
    to {background-color: #888888;}
}

.navbarHovered {
    animation-name: navbarHover;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes navbarUnhover {
    from {background-color: #888888;}
    to {background-color: #222222;}
}

.navbarUnhovered {
    animation-name: navbarUnhover;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}