html, body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: 'Source Sans Pro', sans-serif;
}

strong {
  font-weight: bold;
}

:focus {
  outline: none;
}

.wrapper {
  position: relative;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  overflow: hidden;
  z-index: 2;
}

.content.home {
  min-height: 100vh;
}

.navbar {
  position: fixed;
  list-style-type: none;
  display: block;
  padding: 0;
  overflow: hidden;
  background-color: #222222;
  width: 100%;
  margin: 0;
}

.navbar-search {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222222;
  width: 70%;
  margin: 0 auto;
}

.navtext {
  float: right;
  user-select: none;
}

.navtext a {
  display: block;
  color: white;
  font-size: 14px;
  padding: 12px 28px;
  text-decoration: none;
}

.navSearch {
  float: left;
  height: 16px;
  font-size: 14px;
  color: white;
  border-radius: 50px;
  display: flex;
  background-color: rgba(255,255,255,0.3);;
  border-color: #888888;
  border-width: 3px;
  border-style: solid;
  padding: 5px 20px;
  margin: 5px;
  outline: none;
}

.navtext-left {
  float: left;
}

.navtext-active {
  background-color: #666666;
}


.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  filter: blur(7px);
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.footer {
  position: relative;
  z-index: 2;
  background-color: #222222;
  padding: 1% 20vw;
}

.footertext {
  font-family: "Source Sans Pro", sans-serif;
  color: #888888;
  font-size: 12px;
}

.messageBox {
  padding: 10px 10px;
  background-color: #96FF96;
  border-style: solid;
  border-color: #007500;
  border-width: 2px;
  border-radius: 6px;
}

.messageText {
  color: black;
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
}

@media only screen and (max-width: 767px) {
  .navbar {
    visibility: hidden;
  }
}