.mainContent {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: stretch;
    justify-content: center;
    overflow: hidden;
    margin: 10vh 20%;
    padding: 3% 5%;
    background-color: rgba(0, 0, 0, 0.5);
}

.contentText {
    color: white;
    font-size: 20px;
    font-weight: 400;
}