.mainContent {
    width: 75vw;
    height: 680px;
    margin: 10vh auto;
    padding: 3vh 3vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: 100px;
}

.mainContent-fliptop {
    margin: 10vh auto 1vh auto;
}

.mainContent-flipbottom {
    margin: 1vh auto 10vh auto;
}

.flexContainer {
    display: flex;
    flex-direction: column;
}

.saveButton {
    display: inline;
    font-size: 1em;
    font-weight: 400;
    font-family: "Source Sans Pro", sans-serif;
    background-color: transparent;
    color: white;
    border-color: white;
    margin: 1em auto 0 auto;
    padding: 2px 6px;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
}

.aboutImage {
    grid-column: 1;
    grid-row: 1 / 7;
}

.aboutTextBox {
    grid-column: 2 / 4;
    grid-row: auto;
    padding: 10px;
}

.cardtext {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: white;
}

.cardtext-name {
    font-size: 24px;
    padding-bottom: 3px;
}

.cardtext-typeline {
    font-size: 20px;
}

.cardtext-oracletext {
    font-size: 18px;
}

.captionBox {
    grid-column: 2;
    grid-row: 6;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: left;
    padding: 5px;
}

.captionText {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: white;
    padding: 2px 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
}

.icon {
    fill: white;
    color: white;
}

.priceText {
    float:right;
    font-size: 14px;
}